body {
    background-color: #1c2945/* - #06080e*/;
    color: #1C2945;
}

nav li {
    border: 1px solid grey;
    margin-right: -3px;
    display: inline-block;
    background-color: #608CEB;
    color: #1C2945;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    border: 0px solid gray;
    list-style-type: none;
    display: inline-block;
    padding-left: 0px;
    text-align: center;
}

.active {
    background-color: white;
    color: #1C2945;
}
footer {
    color: white;
    font-family: verdana regular;
    font-size: 10px;
}

li:last-child {
    margin-right: 0px;
}

li a {
    padding: 2px 5px;
    border: 1px solid gray;
    display: inline-block;
    width: 120px
}

img#a {
    max-width: 100%;
}

figure {
    width: 50%; background-color: #608CEB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0,2),
                0 6px 20px 0 rgba(0, 0, 0, 0,15);
    margin: 10px;
}
figcaption {
    text-align: center; padding: 10px 20px;
}