body {
    background-color: #1c2945/* - #06080e*/;
    color: white;
}

nav li {
    display: inline-block;
    background-color: #608CEB;
}

nav a {
    color: #eee;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    padding: 0px;
}

.active {
    background-color: white;
    color: #1C2945;
}
footer {
    color: white;
}